* {    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
/* when we are using flex-direction justify-content is in charge of vertical x-axis and align-items is in charge of horizontal y  */

/* when we are making changes in boxes without using flex-direction 
justify-content is in charge of y horizontally while align-items is in charge of x-axis vertically */



.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;

}


